/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'PT Sans', sans-serif;
}

ul{
    list-style-type: none;
}

.flex-container{
    display: flex;
}

.mobile-padding{
    padding-left: 2rem;
    padding-right: 2rem;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

/* MOBILE FIRST */

/* HEADER */
header{
    height: 80px;
    background-color: #0084fd;
    color: white;
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu{
    display: none;
}

/* MAIN */
.demo{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.intro-columns{
    flex-wrap: wrap;
}

.intro-col{
    width: 100%;
    background-color: #b5ddff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* TABLET */
@media screen and (min-width:768px){
                /* MAIN */
    /* inizio demo */
    .intro-columns{
        margin-left: -1rem;
        margin-right: -1rem;
        justify-content: space-between;
    }

    .intro-col:first-child{
        width: calc( (100% / 3 * 2) - 2rem);
       
    }

    .intro-col{
        
        width: calc( 100% / 3 - 2rem);
        padding: 0 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* fine demo */
}



/* DEKSTOP */
@media screen and (min-width:992px) {
    /* HEADER */
    
    .burger-bottom{
        display: none;
    }
    .menu{
        display: block;
    }

    li{
        padding: 10px;
    }
}