/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'PT Sans', sans-serif;
}

ul{
    list-style-type: none;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.mobile-padding{
    padding-left: 2rem;
    padding-right: 2rem;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.purple{
    background-color: #9792e4;
}

/*----------------------------------------
                 MOBILE FIRST 
------------------------------------------*/

/* HEADER */
header{
    height: 80px;
    background-color: #0084fd;
    color: white;
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu{
    display: none;
}

/* MAIN */
/* sezione demo */
.demo{
    padding-top: 30px;
    padding-bottom: 50px;
}

.intro-col{
    width: 100%;
    background-color: #b5ddff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
/* fine sezione demo */

/* inizio strategic */

.strategic{
    padding-top: 30px;
    padding-bottom: 50px;  
}

.strategic-col{
    width: 100%;
    margin-bottom: 20px;
}

.strategic-col:last-child{
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    
}
/* fine strategic */

/* testimonials */
.testimonials{
    padding-top: 30px;
    padding-bottom: 50px;
}

.testimonial{
    width: 100%;
    background-color: #9792e4;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.testimonial:first-child{
    background-color: white;
}
/* fine testimonials */

/* inizio benefit */
.benefits{
    padding-top: 35px;
    padding-bottom: 20px;  
}

.benefits h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 33px;
    color: white;
}

.benefit{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 25px;
}
/* fine benefit */

/* inizio About Us */
.about-us{
    padding-top: 35px;
    padding-bottom: 20px;  
}

.about-us h2{
    margin-bottom: 20px;
    color: #9792e4;
    font-size: 40px;
}

.us{
    width: 100%;
}

.us p{
    margin-bottom: 40px;
}
/* fine About Us */

/* inizio Get-start */
.get-start{
    padding-top: 35px;
    padding-bottom: 20px;  
}

.start{
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 25px;
}
/* fine Get-start */
/* FINE MAIN */

/* FOOTER */
footer{
    background-color: #333333;
    padding-top: 35px;
    padding-bottom: 20px; 
    text-align: center;
}

.top-col{
    width: 100%;
    margin-bottom: 25px;
   
}

.bottom-col{
    font-size: 15px;
}

/*----------------------------------------
                    TABLET 
------------------------------------------*/
@media screen and (min-width:768px){
                /* MAIN */
    /* inizio demo */
    .intro-columns{
        margin-left: -1rem;
        margin-right: -1rem;
        justify-content: space-between;
    }

    .intro-col:first-child{
        width: calc( (100% / 3 * 2) - 2rem);
       
    }

    .intro-col{ 
        width: calc( 100% / 3 - 2rem);
        padding: 0 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    /* fine demo */

    /* inizio benefits */
    .cont-benefit{
        justify-content: space-between;
    }

    .benefit{
        width:calc(100% / 2 - 10px) ;
    }
    /* fine benefit */

    /* inizio About us */
    .cont-us{
        justify-content: center;
    }

    .us{
        width: 40%;
        margin-right: 1rem;
    }
    /* FINE MAIN */
}




/*----------------------------------------
                    DEKSTOP 
------------------------------------------*/
@media screen and (min-width:992px) {
    /* HEADER */
    
    .burger-bottom{
        display: none;
    }
    .menu{
        display: block;
    }

    li{
        padding: 10px;
    }

    /* MAIN */

    /* strategic */
    .strategic-col{
        width: 40%;
        margin-right: 1rem;
    }

    .strategic-columns{
        justify-content:center ;
        align-items: flex-end;   
    }
    /* fine strategic */

    /* inizio benefits */
    .cont-benefit{
        justify-content: space-between;
    }

    .benefit{
        width:calc(100% / 3 - 10px) ;
    }
    /* fine benefit */

    /* FINE MAIN */
}